@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    font-family: "Outfit";
}
body {
    margin: 0;
    padding: 0;

}

main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vH;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

#panel {
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#presestSection {
    width: 100%;
    height: 100%;
}

#counterSection {
    height: 100%;
    width: 100%;
}

#presetsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#presetsButtons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button {
    width: 10em;
    height: 3em;
    border: transparent;
    border-radius: 10px;
}

.button:hover {
    background-color: #8d99ae;
}


#timerController button {
    width: 7em;
    height: 3em;
    border-radius: 10px;
    border: none;
    font-family: "Outfit";
}

#timerController {
    margin: 1em;
}

#startButton {
    background-color: #e5e5e5;
}

#pauseButton {

    background-color: #8d99ae;
}

#stopButton {

    background-color: #ef233c;
}

#startButton:active {
    border: 3px solid #2b2d42;
}

#pauseButton:active {
    border: 3px solid #2b2d42;
}

#stopButton:active {
    border: 3px solid #2b2d42;
}

#startButton:hover {
    background-color: #edf2f4;
}

#pauseButton:hover {
    background-color: #edf2f4;
}

#stopButton:hover {
    background-color: #edf2f4;
}

#setTimer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#timer {
    display: flex;
    flex-direction: column;
}

.inputNumber {
    width: 5vh;
    height: 5vh;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.counter {
    text-align: center;
    font-family: "Outfit";
    font-style: italic;
    width: 5em;
}

.title {
    font-family: "Outfit";
    font-weight: 400;
    width: 10em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    transition: all 0.3s ease-out;
}

.this {
    transform: scale(1.2);
}

#counterSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#counterSection h1 {
    text-align: center;
}


#total-box {
    width: 20em;
    display: flex;
    flex-direction: column;
}


#series-counter-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.counter-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}



#error {
    text-align: center;
}


#total-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.counter-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}




@media (max-width: 768px) {


    #panel {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    /* Botones de control */
    #timerController {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #timerController button {
        width: 4em;
        padding: 0;
        margin: 0;
    }

    /* ----------------------------------------   */


    #total-box {
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .counter-box {
        width: 100%;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    #counterSection {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    #timer {
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .box {
        gap: 0;
        padding: 0;
        margin: 0;
    }

    #setTimer {
        display: flex;
        flex-direction: column;
    }


    #presestSection {
        width: 20%;
        height: 100%;
    }

    #presetsBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #presetsButtons {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .button {
        width: 10em;
        height: 3em;
        border: transparent;
        border-radius: 10px;
    }

    .button:hover {
        background-color: #8d99ae;
    }


}